body {
  font-family: "Menlo";
}
.bgstyle {
  background-color: #f3f1e0;
  height: 93vh;
  margin: 0px;
}
.navstyle {
  height: 7vh;
  background-color: #ffdda5;
}
.textstyle {
  color: #707070;
  font-size: 20px;
}

.containerStyle {
  background-color: #9fbbaf;
  height: 60vh;
  border-radius: 2rem;
}
.surveyContainerStyle {
  background-color: #9fbbaf;
  height: 60vh;
  border-radius: 2rem;
}
.surveyContainerInfoStyle {
  background-color: #9fbbaf;
  height: 5vh;
  width: 25%;
  border-radius: 2rem;
}
.surveyContainerStyle::-webkit-scrollbar {
  display: none;
}
.headContainerStyle {
  background-color: #f3f1e0;
  height: 3vh;
  border-radius: 2rem;
}
.headContainerStyleNum {
  background-color: #f3f1e0;
  height: 3vh;
  width: 5%;
  border-radius: 2rem;
}
.smallContainerStyle {
  background-color: #f3f1e0;
  height:20vh;
  border-radius: 2rem;
}
.inputStyle {
  border-radius: 50px;
  background-color: #f3f1e0;
  width: 40vh;
  border: 1px solid #ffdda5;
  height: 7vh;
}
.inputStyle:focus { 
  outline: none !important;
  border-color: #9fbbafb2;
  border-width: 4px;
}
.inputStyle:focus::-webkit-input-placeholder 
{
    color: transparent;
}

.buttonStyle {
  border-radius: 50px;
  background-color: #f3f1e0;
  border: 3px solid #9fbbaf;
  height: 5vh;
  width: 18vh;
}

.submitButtonStyle {
  border-radius: 50px;
  background-color: #f3f1e0;
  border: 3px solid #9fbbaf;
  width: 20vh;
  height: 7vh;
}

.surveyRow {
  background-color: #f3f1e0;
  border-radius: 25px;
  font-size: 20px;
  height: 50px;
  text-align: left;
}

.surveyRowSeparator {
  background-color: #9fbbaf;
  width: 5px;
  float: left;
}

.surveyRowHeadings {
  font-size: 16px;
  text-align: left;
}